/*common css start*/
* {
    padding: 0;
    margin: 0;
}

button,
a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

ul li {
    list-style: none;
}

p {
    font-size: 14px;
    line-height: 1.4;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}

.section-title-outer {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.section-title-outer .section-subtitle {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.section-title-outer .section-title {
    font-size: 30px;
    color: #000;
    margin-bottom: 0;
    word-spacing: 1px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.section-title-outer .section-title:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background: #14c7f5;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s ease;
}
/*common css End*/

/*Header css start*/

/*Header top css start*/
.header-top-wrap {
    background: #fff;
    /* padding: 5px 0; */
}
.brand-logo-outer{
    display: inline-block;
}
.brand-logo-outer .brand {
    max-width: 130px;
}
.header-section .navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.header-section .navbar-brand .brand {
    height: 100%;
}
.header-top-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.header-top-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    height: 100%;
}
.header-top-menu {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-top-list-item {
    display: flex;
    align-items: center;
    height: 100%;
}
.header-top-list-item-link {
    padding: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-top-list-item-link:hover {
    color: #294e83;
}
.header-top-list-item.item-has-submenu {
    position: relative;
}
.language-item-submenu {
    position: absolute;
    top: 70px;
    background-color: #ffffff;
    right: 0;
    opacity: 0;
    visibility: hidden;
    width: 150px;
    z-index: 10;
    padding-left: 0;
    transition: all .4s ease;
    box-shadow: rgb(0 0 0 / 24%) 0px 8px 8px;
    transform: scale(0);
}
.header-top-list-item.item-has-submenu:hover .language-item-submenu {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    margin-top: 0;
    right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.submenu-item-link {
    display: block;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    border-bottom: 1px solid #ddd;
}

.submenu-item:last-child .submenu-item-link {
    border-bottom: none;
}
.header-top-list-item-link i {
    margin-left: 6px;
    font-size: 12px;
    color: #000;
}
.header-top-list-item-link:hover i {
    color: #14c7f5;
    transform: rotate(180deg);
    transition: all .3s ease;
}
.header-top-list-item-link.register {
    background: #14c7f5;
    height: auto;
    padding: 6px 15px;
    border: 1px solid #14c7f5;
    border-radius: 3px;
    margin-right: 10px;
    font-weight: 600;
    color: #fff;
}

.header-top-list-item-link.register:hover {
    background: transparent;
    color: #000;
}

.header-top-list-item-link.login {
    height: auto;
    padding: 6px 15px;
    border: 1px solid #14c7f5;
    border-radius: 3px;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 5px;
}

.header-top-list-item-link.login:hover {
    background: #14c7f5;
    color: #fff;
}

.submenu-item-link:hover {
    background: #ddd;
    color: #14c7f5;
}
/*Header top css End*/

.header-section {
    position: relative;
    background: #14c7f5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nav-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
}
.nav-items-wrapper .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  height: 100%;
  padding-left: 0px;
}
.nav-list .nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-item:hover .nav-item-link {
  color: #000;
}
.nav-item-link {
  position: relative;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 10px 17px;
  display: flex;
  align-items: center;
  height: 100%;
  text-transform: capitalize;
}
    /*small btn css*/
.nav-toggle-btn .btn-inner {
    width: 26px;
    border-bottom: 1px solid #fff;
    position: relative;
    transition: all .4s ease;
}
.nav-toggle-btn {
    height: 30px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.nav-toggle-btn .btn-inner:before {
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    background: #fff;
    top: -7px;
}
.nav-toggle-btn .btn-inner:after {
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    background: #fff;
    top: 7px;
}

.menu-visible .nav-toggle-btn .btn-inner {
    border: transparent;
}

.menu-visible .nav-toggle-btn .btn-inner:before {
    transform: rotate(45deg);
    top: 0px;
    transition: all .3s ease;
}

.menu-visible .nav-toggle-btn .btn-inner:after {
    transform: rotate(-45deg);
    top: 0;
    transition: all .3s ease;
}

    /*fixed header*/
.fixed-header .header-top-wrap {
    position: fixed;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*Header css End*/

/*Home section css start*/
.home-section {
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}

.search-content-wrap {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.home-section:after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.search-content-title {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    font-style: italic;
}

.search-content-text {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.search-item-wrap {
    display: flex;
    margin-bottom: 20px;
}

.search-item-wrap input {
    height: 50px;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #14c7f5;
    margin-right: 10px;
}

.search-form-btn {
    background: #14c7f5;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #14c7f5;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    transition: all .5s ease;
}

.search-form-btn:hover {
    background: transparent;
    color: #14c7f5;
}

.search-item-wrap input:focus {
    box-shadow: none;
    border: 1px solid #14c7f5;
}

.search-redio-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-redio-item-outer:first-child {
    margin-right: 30px;
}

.search-redio-item-outer label {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
}

.search-redio-item-outer input {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.search-redio-item-outer {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Home section css End*/

/*Pricing section css start*/
.pricing-section {
    padding: 40px 0;
}
.pricing-item-wrapper {
    border: 1px solid #dadddd;
    border-radius: 5px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pricing-item-wrapper .title {
    font-size: 30px;
    font-weight: 700;
    color: #14c7f5;
    margin-bottom: 15px;
}
.pricing-item-wrapper .text {
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}
.pricing-item-wrapper .price {
    font-size: 60px;
    font-weight: 600;
    color: #14c7f5;
}
.pricing-item-wrapper .pricing-label {
    font-size: 13px;
    color: #000;
    margin-bottom: 10px;
}
.pricing-item-wrapper .product-feature {
    padding-left: 0;
    margin-bottom: 20px;
}
.pricing-item-wrapper .product-feature li {
    border-bottom: 1px solid #f2f3f3;
    padding: 10px 0px;
    font-size: 14px;
    color: #000;
}
.pricing-item-wrapper .product-feature li i {
    color: #14c7f5;
    font-size: 14px;
    margin-right: 5px;
}
.plan-buy-btn {
    text-align: center;
    border: 2px solid #14c7f5;
    display: block;
    padding: 10px 0;
    font-size: 17px;
    text-transform: uppercase;
    color: #14c7f5;
    font-weight: 700;
    border-radius: 5px;
}
.pricing-item-wrapper:hover .plan-buy-btn {
    background: #14c7f5;
    color: #fff;
}
/*Pricing section css End*/

/*Feature section css start*/
.feature-section {
    padding: 40px 0;
}

.feature-item-outer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    height: 250px;
    margin-bottom: 20px;
}

.feature-item-outer img {
    max-width: 100px;
    margin-bottom: 10px;
    height: 100px;
}

.feature-item-title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.feature-item-text {
    font-size: 15px;
    font-weight: 400;
    color: #000;
}
/*Feature section css End*/

/*Footer section css start*/
.footer-section {
    padding: 30px 0px;
    background: #05a9d3;
    border-top: 1px solid #dedf60;
}

.footer-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list-item-link {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s ease-in-out;
}

.footer-list-item-link:hover{
    color: #000;
    padding-left: 5px;
}

.footer-item-wrapper .text {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.footer-brand-outer {
    display: inline-block;
    margin-bottom: 10px;
}

.footer-brand-outer img {
    max-width: 150px;
}

.footer-item-outer .title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
}
.footer-item-outer .footer-list {
    padding-left: 0;
    margin-bottom: 0;
}

.footer-list-item-link {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0;
    transition: all .5s ease;
}

.footer-bottom-social-media {
    margin-top: 11px;
}

.footer-bottom-social-media .title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

.footer-bottom-social-media a {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin-right: 5px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 30px;
    line-height: 30px;
    color: #000;
}
/*Footer section css End*/

/*Search post page css start*/
.search-post-section {
    padding: 50px 0;
}

.side-filter-wrapper {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-location-title {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    color: #14c7f5;
}

.search-location-outer label {font-size: 16px;font-weight: 500;margin-left: 5px;}

.search-location-input {
    margin: 12px 0px;
}

.search-location-input label {
    margin-left: 0;
    margin-bottom: 3px;
    font-size: 15px;
    color: #000;
}

.search-location-input input {
    width: 100%;
    height: 40px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 5px;
}

.search-location-input input:focus-visible {
    outline: none;
}

.search-location-search-btn {
    width: 100%;
    border: 1px solid #14c7f5;
    background: #14c7f5;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all .5s ease;
}

.search-location-search-btn:hover {
    background: transparent;
    color: #14c7f5;
}

.post-items-title {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.post-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.post-item-outer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid #14c7f5;
}

.post-item-title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
}

.post-item-price {
    font-size: 25px;
    font-weight: 700;
    color: #14c7f5;
    margin-bottom: 0;
}

.post-item-content {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.post-item-image img {
    max-width: 100px;
    border-radius: 5px;
}

.post-item-image {
    margin-right: 15px;
}

.post-item-text {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
}

.post-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 10px; */
}

.post-item-bottom .save-post-form {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: all .3s ease;
}

.post-item-bottom .save-post-form:hover {
    color: #14c7f5;
}

.post-details-link {
    background: #14c7f5;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #14c7f5;
    border-radius: 3px;
    transition: all .3s ease;
}

.post-details-link:hover {
    background: transparent;
    color: #14c7f5;
}
/*Search post page css End*/

/*Post details page css start*/
.post-details-section {
    padding: 50px 0;
}

.post-details-wrapper {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post-details-big-image {
    display: block;
    text-align: center;
}

.post-details-big-image img {
    max-width: 730px;
}

.post-details-thambe-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.post-details-thambe-image-wrapper a {
    display: block;
    margin-right: 10px;
}

.post-details-thambe-image-wrapper a img {
    max-width: 70px;
}

.post-details-thambe-image-wrapper a:last-child {
    margin-right: 0;
}

.post-details-title, .post-details-content h3, .post-details-content h2,.post-details-content h1 , .post-details-content h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.post-details-text , .post-details-content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
}

.post-advertiser-wrapper {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 5px;
}

.post-advertiser-tile {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #000;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.post-advertiser-info {
    text-align: center;
}

.post-advertiser-info img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.post-advertiser-name {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.post-advertiser-active-status {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.post-advertiser-active-status span {
    font-weight: 400;
}

.post-advertiser-sent-message {
    width: 100%;
    text-align: center;
    display: block;
    background: #14c7f5;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #14c7f5;
    border-radius: 5px;
    transition: all .3s ease;
}

.post-advertiser-sent-message:hover {
    background: transparent;
    color: #14c7f5;
}
/*Post details page css End*/

/*About page css start*/
.about-section {
    padding: 20px 0;
    background: var(--primary-color);
}
.about-sec-content-wrap {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 5px;
}
.about-sec-content-wrap h1,
.about-sec-content-wrap h2
.about-sec-content-wrap h3
.about-sec-content-wrap h4
.about-sec-content-wrap h5
.about-sec-content-wrap h6 {
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
}
.about-sec-content-wrap p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 26px;
}
.about-sec-content-wrap a {
    font-size: 20px;
    font-weight: 500;
    color: #294e83;
}
/*About page css End*/

/*login section css start*/

.login-section {
    padding: 40px 0px;
}

.login-form {
    background: #ffffff;
    border-radius: 5px;
    padding: 50px 30px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-custom h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #154360;
    text-transform: capitalize;
    text-align: center;
}

.login-custom input {
    border: 1px solid #e7e7e7;
    box-shadow: inherit;
    height: 50px;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 5px;
}

.login-custom button {
    display: inline-block;
    border: medium;
    background: #14c7f5;
    font-size: 18px;
    color: #fff;
    padding: 8px 50px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 10px;
    border-radius: 5px;
}

.login-custom button:focus {
    outline: none;
}

.link-bottom {
    margin-bottom: 0;
    margin-top: 15px;
    display: block;
    width: 100%;
    float: left;
    color: #666666;
    font-weight: 400;
}

.link-bottom a {
    color: #14c7f5;
    font-size: 16px;
    font-weight: 600;
}

.link-bottom a:hover {
    color: #154360;
}

.lost-pass-link {
    display: inline-block;
    text-align: right;
    color: #002147;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
}

.lost-pass-link:hover {
    color: #154360;
}

.forgot-password {
    padding: 8px 16px;
    word-spacing: 4px;
}
/*login section css End*/


/*Registation section css start*/
.registation-section {
    padding: 40px 0;
}
#regForm {
    background: #fff;
    border-radius: 5px;
    padding: 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#regForm h1 {
    text-align: center;
    font-size: 28px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 25px;
    color: #154360;
}
#regForm input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    margin-bottom: 15px;
    border-radius: 5px;
}
#regForm input:focus {
    outline: none;
}
.registation-form-btn {
    border: 1px solid #14c7f5;
    background: #14c7f5;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 900;
    padding: 8px 50px;
    margin-top: 20px;
    border-radius: 30px;
}
.sign-up-link {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
    color: #14c7f5;
    text-decoration: underline;
}
/*Registation section css End*/